@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.whole{
    font-family: Inter;
}

select-none { 
    user-select: none;
  }

  @keyframes slide {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  .animate-slide {
    animation: slide 3s ease-in-out infinite;
  }